# top-most EditorConfig file
root = true

# Apply to all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java source files
[*.java]
indent_style = space
indent_size = 4
continuation_indent_size = 8
max_line_length = 120
insert_final_newline = true


# Add a blank line before return statements and after method declarations
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_after_class_header = 1

# Wrapping and Braces (IntelliJ-specific)
ij_java_wrap_long_lines = true
ij_java_method_parameters_wrap = wrap_always
ij_java_method_arguments_wrap = wrap_always
ij_java_extends_list_wrap = wrap_always
ij_java_implements_list_wrap = wrap_always
ij_java_call_parameters_wrap = wrap_always
ij_java_assignment_wrap = wrap_always
ij_java_binary_operation_wrap = wrap_always

# Add space before and after operators
space_around_operators = true

# Imports
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
